body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    /*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: hsla(69, 95%, 33%, 1);
  background: linear-gradient(90deg, hsla(69, 95%, 33%, 0.1) 0%, hsla(46, 100%, 48%, 0.2) 25%, hsla(40, 96%, 47%, 0.2) 50%, hsla(29, 97%, 43%, 0.2) 75%, hsla(15, 100%, 37%, 0.2) 100%);
  background: -moz-linear-gradient(90deg, hsla(69, 95%, 33%, 0.1) 0%, hsla(46, 100%, 48%, 0.2) 25%, hsla(40, 96%, 47%, 0.2) 50%, hsla(29, 97%, 43%, 0.2) 75%, hsla(15, 100%, 37%, 0.2) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#8ea604", endColorstr="#f5bb00", GradientType=1);
*/
}

main {
    min-height: 1000px;
    background: rgb(166, 246, 166);
    background: linear-gradient(153deg, #a6f6a6f5 0%, rgba(229, 238, 155, 0.9361633986569522) 50%, #efcd9f 100%);
    /*background-image: linear-gradient(180deg, #043927 0%, #ffd300 2%, #ffd300 98%, #7c0a02 100%);*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.card {
    cursor: pointer;
    background: #043927;
    color: #FFD300;
}

.card:hover {
    background: #870909;
    color: #FFD300;
}

section div p.lead {
    color: #043927 !important;
}

section div h1.fw-light {
    font-size: 50px !important;
    font-weight: 600 !important;
    display: inline;
}

header {
    background: #a6f6a6f5;
    color: #FFD300;
}

footer {
    background-color: #efcd9f;
    color: #043927;
}

footer div.section-1 {
    padding: 20px 0;
}

footer div.last-section {
    border-top: #043927 1px solid;
    padding: 16px 0;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
}

footer div.last-section span {
    color: #043927;
}

.maincontainer {}

.senegal-menu {
    background-image: linear-gradient(90deg, #043927, #debd17, #870909);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.senegal-titre {
    background-image: linear-gradient(90deg, #043927, #877a25, #7c0a02);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 .5px .5px rgb(0 0 0 / 10%);
}